<?xml version="1.0"?>
<launch>

	<!-- <include file = "$(find rover_control)/launch/robot_control.launch" />  -->

	<arg name = "Driver_Baud" default = "115200" />
	<arg name = "bluetooth" default = "/dev/Bluetooth" />
	<arg name = "control_hz" default = "20" />
	<arg name = "Hokuyo_IP"   default = "192.168.44.10" />
	
	<node pkg="willy_v2" type="willy_motor_left" name="willy_motor_left" output="screen">
		<param name="Baudrate" value="$(arg Driver_Baud)" />
		<param name="Port" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A95WPAXH-if00-port0" />
        <param name="control_hz" value="$(arg control_hz)" />
	</node>

	<node pkg="willy_v2" type="willy_motor_right" name="willy_motor_right" output="screen">
		<param name="Baudrate" value="$(arg Driver_Baud)" />
		<param name="Port" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AQ00DZFN-if00-port0" />
        <param name="control_hz" value="$(arg control_hz)" />
	</node>
		<node pkg="willy_v2" type="willy_v2_encoder" name="willy_encoder" respawn="true" >
		<param name="Baudrate" value="$(arg Driver_Baud)" />
		<!-- <remap from = "/odom" to = "/odom_data"/> -->
	</node>
</launch>
