<launch>

        <arg name = "Driver_Baud" default = "115200" />
	<arg name = "bluetooth" default = "/dev/Bluetooth" />
	<arg name = "control_hz" default = "20" />
	
	<node pkg="willy_v2" type="willy_motor_left" name="willy_motor_left" >
		<param name="Baudrate" value="$(arg Driver_Baud)" />
		<param name="Port" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A95WPAXH-if00-port0" />
        <param name="control_hz" value="$(arg control_hz)" />
	</node>

	<node pkg="willy_v2" type="willy_motor_right" name="willy_motor_right" >
		<param name="Baudrate" value="$(arg Driver_Baud)" />
		<param name="Port" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AQ00DZFN-if00-port0" />
        <param name="control_hz" value="$(arg control_hz)" />
	</node>
		<node pkg="willy_v2" type="willy_v2_encoder" name="willy_encoder" respawn="true" >
		<param name="Baudrate" value="$(arg Driver_Baud)" />
		<!-- <remap from = "/odom" to = "/odom_data"/> -->
	</node>
        <!-- <include file = "$(find communication_develop)/launch/solar_ant1.launch" /> -->
        <!-- <node pkg="willy_v2" type="willy_v2_fault_detection" name="willy_v2_fault_detection"/> -->

    <!-- <node pkg="willy" type="main.py" name="willy_UI" />     -->

        <!-- <node pkg="urg_node" type="urg_node" name="urg_node" >
                <param name="ip_address" value="$(arg Hokuyo_IP)" />
                <param name="angle_min" value="-2"/>
                <param name="angle_max" value="2"/>
        </node> -->

  <include file = "$(find rover_control)/launch/robot_control.launch" /> 

        <!--node pkg="rqt_plot" name="plot_right_vel" type="rqt_plot" args=" /right_vel /left_vel"/               output="screen"     -->

<!-- joy node -->
	 <!--<node respawn="true" pkg="joy" type="joy_node" name="turtle_joy" >
		<param name="dev" type="string" value="/dev/input/js0" />
    		<param name="deadzone" value="0.1" />
	</node>-->

 <!-- Axes -->
	<!--<param name="axis_linear" value="1" type="int"/>
	<param name="axis_angular" value="0" type="int"/>
  	<param name="scale_linear" value="0.8" type="double"/>
  	<param name="scale_angular" value="0.5" type="double"/>
  	<node pkg="joy_control" type="joy_control_node" name="joy_control">
  	</node>-->


        <node name="cap_node" pkg="end_2_end" type="image_pub.py" output="screen"/> 
        <!-- <node name="Solar_visualControl" pkg="robot_cv" type="Solar_visualControl_v6.py" output="screen"/> -->
        <!-- https://www.reddit.com/r/ROS/comments/lp333k/arguments_for_python_code_through_roslaunch/ -->

	<node pkg="rosserial_python" type="serial_node.py" name="serial_node">
                <param name="baud" value="57600" />
                <param name="port" value="/dev/ttyACM0" />
	</node>

           <node name="mongoRecord" pkg="big_mongo" type="mongoBug_MQTT.py" output="screen" /> 
        <rosparam file="$(find big_mongo)/config/Solar_config.yaml" command = "load" />
    
        
</launch>
